In [2]:
import boto3
from botocore import UNSIGNED
from botocore.client import Config
from io import StringIO 

import io as io
import pandas as pd
import numpy as np
import psycopg2
import psycopg2.extras as extras
from sqlalchemy import create_engine

In [3]:
#Postgres credentials
pw = 'smedatabase'
db = "postgres" 
user='postgres'
host='smedatabase.cjxtg8rwmpmr.eu-west-1.rds.amazonaws.com'
port = '5432'


#s3 credentials
s3 = boto3.client('s3', config=Config(signature_version=UNSIGNED))

bucket_name =  "sme-dataset-bucket"
Prefix='orders_data/'
res = s3.list_objects_v2(
    Bucket=bucket_name,
    Prefix=Prefix)

In [4]:
def create_server_connection():
    connection = None
    try:

        connection = psycopg2.connect(
            database=db,
            user=user,
            password=pw,
            host=host,
            port=port
        )
        
        print("PostgreSql Database connection successful")
    except:
        print("Error - Coonection to database failed")

    return connection


connection = create_server_connection()

PostgreSql Database connection successful

In [14]:
def read_and_convert_excel_to_dataframe(df_name,file_path):

    obj = s3.get_object(Bucket= bucket_name, Key= Prefix+file_path)
    data = obj['Body'].read()
    df_name = pd.read_excel(io.BytesIO(data), skiprows = range(0,14))
    
    #Setting the header
    df_name = pd.DataFrame(df_name)
    new_header = df_name.iloc[0] 
    df_name = df_name[1:] 
    df_name.columns = new_header
    
    #formatting the header
    for column in df_name.columns:
        new = '_'.join(column.split()).lower()
        df_name.rename(columns = {column:new}, inplace = True)
    df_name['client_name'] = df_name['client_name'].str.title()
    
    return df_name 


newdata = read_and_convert_excel_to_dataframe('Sample Dataset1','Sample Dataset1.xlsx') 

newdata

C:\Users\Kiosk\anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

,sno,client_name,firm_owner_name,gender,dob,county,sub_county,ward,fi_branch,group_name,...,disb_amount_iv,disb_date_iv,column2,disb_date_v,commitment_kes,leverage_value_kes,source,other_source,column1,job_type_hrs
1,212,Business 1,Name 1,Male,1967-01-26 00:00:00,Samburu,Sub-county a,Central,Marsabit,NaN,...,NaN,NaN,NaN,NaN,9000000,4000000,Revolving Portfolio,NaN,NaN,NaN
2,41,Business 2,Name 2,Male,1976-01-01 00:00:00,Garissa,Sub-county b,Central,Marsabit,NaN,...,NaN,NaN,NaN,NaN,4000000,12000000,Revolving Portfolio,NaN,NaN,NaN
3,34,Business 3,Name 3,Female,1963-11-25 00:00:00,Marsabit,Lamu,Lamu,Kilifi,NaN,...,NaN,NaN,NaN,NaN,4000000,75000000,Revolving Portfolio,NaN,NaN,NaN
4,35,Business 4,Name 4,Female,1963-11-25 00:00:00,Isiolo,Garsen,Garsen,Kilifi,NaN,...,NaN,NaN,NaN,NaN,30000000,75000000,Revolving Portfolio,NaN,NaN,NaN
5,57,Business 5,Name 5,Male,1966-02-06 00:00:00,Lamu,NaN,Lamu West,Mpeketoni,NaN,...,NaN,NaN,NaN,NaN,200000,600000,Revolving Portfolio,NaN,NaN,NaN

In [15]:
conn_string = 'postgresql://postgres:smedatabase@smedatabase.cjxtg8rwmpmr.eu-west-1.rds.amazonaws.com:5432/postgres'
db = create_engine(conn_string)
conn = db.connect()

newdata.to_sql('smedata', con=conn, if_exists='append',
          index=False)
conn = psycopg2.connect(conn_string
                        )
conn.autocommit = True
cursor = conn.cursor()

query = '''select * from smedata;'''
cursor.execute(query)
for i in cursor.fetchall():
    print(i)
  
conn.close()

(212, 'Business 1', 'Name 1', 'Male', datetime.datetime(1967, 1, 26, 0, 0), 'Samburu', 'Sub-county a', 'Central', 'Marsabit ', None, '2.335653', '37.983835', 'Other', 'Cooperative', 'Other', 'Other', 'Medium Enterprises (50 - 249 Employees)', 'Other', 'No', 'No', 'No', 'Offtake', 200, 223, None, 250, None, None, None, None, None, 'Debt', None, 'Cash', None, 8000000, datetime.datetime(2022, 2, 28, 0, 0), 0, datetime.time(0, 0), 8000000, '2022-03-10 00:00:00', None, None, None, None, None, None, None, None, 9000000, 4000000, 'Revolving Portfolio', None, None, None)
(41, 'Business 2', 'Name 2', 'Male', datetime.datetime(1976, 1, 1, 0, 0), 'Garissa', 'Sub-county b', 'Central', 'Marsabit', None, '2.33565', '37.983835', 'Other', 'Cooperative', 'Commercial and Retail Bank', 'Other', 'Medium Enterprises (50 - 249 Employees)', 'Yes', 'No', 'No', 'Yes', 'Offtake', 600, 500, 200, None, None, None, None, None, None, 'Debt', None, 'Cash', None, 24000000, datetime.datetime(2022, 2, 28, 0, 0), 0, datetime.time(0, 0), 12000000, '2022-03-10 00:00:00', None, None, None, None, None, None, None, None, 4000000, 12000000, 'Revolving Portfolio', None, None, None)
(34, 'Business 3', 'Name 3', 'Female', datetime.datetime(1963, 11, 25, 0, 0), 'Marsabit', 'Lamu   ', 'Lamu', 'Kilifi ', None, '-2.269557', '40.900642', 'Other', 'SACCO', 'Commercial and Retail Bank', 'Other', 'Medium Enterprises (50 - 249 Employees)', 'Multisector', 'Partially', 'No', 'Yes', None, None, None, None, None, None, None, None, None, None, 'Debt', None, 'Cash', None, 100000000, datetime.datetime(2022, 3, 28, 0, 0), 0, datetime.time(0, 0), 0, '00:00:00', None, None, None, None, None, None, None, None, 4000000, 75000000, 'Revolving Portfolio', None, None, None)
(35, 'Business 4', 'Name 4', 'Female', datetime.datetime(1963, 11, 25, 0, 0), 'Isiolo', 'Garsen', 'Garsen', 'Kilifi ', None, '-2.26778', '40.11056', 'Other', 'Cooperative', 'MFI', 'Other', 'Medium Enterprises (50 - 249 Employees)', 'Multisector', 'Yes', 'No', 'No', None, None, None, None, None, None, None, None, None, None, 'Debt', None, 'Cash', None, 100000000, datetime.datetime(2022, 5, 28, 0, 0), 0, datetime.time(0, 0), 0, '00:00:00', None, None, None, None, None, None, None, None, 30000000, 75000000, 'Revolving Portfolio', None, None, None)
(57, 'Business 5', 'Name 5', 'Male', datetime.datetime(1966, 2, 6, 0, 0), 'Lamu', None, 'Lamu West', 'Mpeketoni ', None, '\xa0-2.269557', '\xa040.900642', 'Individual', 'Producer Group', 'MFI', 'Sole Proprietorship', 'Individuals/Micro Enterprise (Less than 10 Employees)', 'Horticulture', 'Yes', 'No', 'No', None, None, None, None, None, None, None, None, None, None, 'Debt', None, 'Cash', None, 1200000, datetime.datetime(2022, 6, 1, 0, 0), 0, datetime.time(0, 0), 1200000, '2022-03-11 00:00:00', None, None, None, None, None, None, None, None, 200000, 600000, 'Revolving Portfolio', None, None, None)
(212, 'Business 1', 'Name 1', 'Male', datetime.datetime(1967, 1, 26, 0, 0), 'Samburu', 'Sub-county a', 'Central', 'Marsabit ', None, '2.335653', '37.983835', 'Other', 'Cooperative', 'Other', 'Other', 'Medium Enterprises (50 - 249 Employees)', 'Other', 'No', 'No', 'No', 'Offtake', 200, 223, None, 250, None, None, None, None, None, 'Debt', None, 'Cash', None, 8000000, datetime.datetime(2022, 2, 28, 0, 0), 0, datetime.time(0, 0), 8000000, '2022-03-10 00:00:00', None, None, None, None, None, None, None, None, 9000000, 4000000, 'Revolving Portfolio', None, None, None)
(41, 'Business 2', 'Name 2', 'Male', datetime.datetime(1976, 1, 1, 0, 0), 'Garissa', 'Sub-county b', 'Central', 'Marsabit', None, '2.33565', '37.983835', 'Other', 'Cooperative', 'Commercial and Retail Bank', 'Other', 'Medium Enterprises (50 - 249 Employees)', 'Yes', 'No', 'No', 'Yes', 'Offtake', 600, 500, 200, None, None, None, None, None, None, 'Debt', None, 'Cash', None, 24000000, datetime.datetime(2022, 2, 28, 0, 0), 0, datetime.time(0, 0), 12000000, '2022-03-10 00:00:00', None, None, None, None, None, None, None, None, 4000000, 12000000, 'Revolving Portfolio', None, None, None)
(34, 'Business 3', 'Name 3', 'Female', datetime.datetime(1963, 11, 25, 0, 0), 'Marsabit', 'Lamu   ', 'Lamu', 'Kilifi ', None, '-2.269557', '40.900642', 'Other', 'SACCO', 'Commercial and Retail Bank', 'Other', 'Medium Enterprises (50 - 249 Employees)', 'Multisector', 'Partially', 'No', 'Yes', None, None, None, None, None, None, None, None, None, None, 'Debt', None, 'Cash', None, 100000000, datetime.datetime(2022, 3, 28, 0, 0), 0, datetime.time(0, 0), 0, '00:00:00', None, None, None, None, None, None, None, None, 4000000, 75000000, 'Revolving Portfolio', None, None, None)
(35, 'Business 4', 'Name 4', 'Female', datetime.datetime(1963, 11, 25, 0, 0), 'Isiolo', 'Garsen', 'Garsen', 'Kilifi ', None, '-2.26778', '40.11056', 'Other', 'Cooperative', 'MFI', 'Other', 'Medium Enterprises (50 - 249 Employees)', 'Multisector', 'Yes', 'No', 'No', None, None, None, None, None, None, None, None, None, None, 'Debt', None, 'Cash', None, 100000000, datetime.datetime(2022, 5, 28, 0, 0), 0, datetime.time(0, 0), 0, '00:00:00', None, None, None, None, None, None, None, None, 30000000, 75000000, 'Revolving Portfolio', None, None, None)
(57, 'Business 5', 'Name 5', 'Male', datetime.datetime(1966, 2, 6, 0, 0), 'Lamu', None, 'Lamu West', 'Mpeketoni ', None, '\xa0-2.269557', '\xa040.900642', 'Individual', 'Producer Group', 'MFI', 'Sole Proprietorship', 'Individuals/Micro Enterprise (Less than 10 Employees)', 'Horticulture', 'Yes', 'No', 'No', None, None, None, None, None, None, None, None, None, None, 'Debt', None, 'Cash', None, 1200000, datetime.datetime(2022, 6, 1, 0, 0), 0, datetime.time(0, 0), 1200000, '2022-03-11 00:00:00', None, None, None, None, None, None, None, None, 200000, 600000, 'Revolving Portfolio', None, None, None)